.grid-product {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}

.grid-product img {
    padding: 20vh 0 10vh 0;
    width: 45vw;
}

.product-item:hover {
    background-color: var(--nav-color);
}

/* .grid-kawasako {
    display: none;
} */